.homePage {
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
}

.moveToTweets {
  font-size: 18px;
  color: yellow;
  font-weight: 600;
  text-decoration: none;
}

.moveToTweets:hover {
  color: magenta;
}

.photouser {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: absolute;
}

.photo1 {
  top: 100px;
  left: 200px;
}
.photo2 {
  top: 250px;
  left: 200px;
}
.photo3 {
  top: 400px;
  left: 200px;
}
.photo4 {
  top: 100px;
  left: 900px;
}
.photo5 {
  top: 250px;
  left: 900px;
}
.photo6 {
  top: 400px;
  left: 900px;
}
